{% extends 'base.html'	%}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h2 style="text-align:center;">LOGIN</h2>
<div class="form-center">
<!--<h2>LOGIN</h2><br><br>-->

<form action="login" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter username"><br><br>
    <input type="password" name="password" placeholder="enter password"><br><br>
    <input type="submit" class="btn btn-info" value="Login">
    <b><a href="{% url 'register' %}">Register</a></b>

</form>
</div>
{% for msg in messages %}
<h2 style="color:purple;text-align:center;">{{msg}}</h2>
{% endfor %}
</body>
</html>
{% endblock %}